In [231]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.datasets import load_iris
from sklearn.metrics import accuracy_score

 
import warnings
warnings.filterwarnings('ignore')

In [232]:
data_set = pd.read_csv('Crop_production.csv')

In [233]:
data_set.head()

,Unnamed: 0,State_Name,Crop_Type,N,P,K,pH,rainfall,temperature,Area_in_hectares,Production_in_tons,Yield_ton_per_hec,Crop
0,0,andhra pradesh,kharif,120,40,20,5.46,654.34,29.266667,7300.0,9400.0,1.287671,1
1,1,andhra pradesh,kharif,20,60,20,6.18,654.34,29.266667,3300.0,1000.0,0.303030,3
2,2,andhra pradesh,kharif,80,40,40,5.42,654.34,29.266667,10100.0,10200.0,1.009901,2
3,3,andhra pradesh,kharif,80,40,20,5.62,654.34,29.266667,2800.0,4900.0,1.750000,4
4,4,andhra pradesh,kharif,20,40,20,5.68,654.34,29.266667,1300.0,500.0,0.384615,5

In [234]:
data_set.shape

(99826, 13)

In [235]:
data_set.describe()

,Unnamed: 0,N,P,K,pH,rainfall,temperature,Area_in_hectares,Production_in_tons,Yield_ton_per_hec,Crop
count,99826.000000,99826.000000,99826.000000,99826.000000,99826.000000,99826.000000,99826.000000,99826.000000,9.982600e+04,99826.000000,99826.000000
mean,49926.185984,69.816881,41.594174,42.036493,5.643607,701.116173,26.683984,16480.327403,3.777020e+04,3.931546,11.064652
std,28826.387225,39.571383,15.052293,28.427026,0.505292,604.762592,4.851731,43608.592195,1.222570e+05,33.875951,7.736347
min,0.000000,10.000000,10.000000,10.000000,3.820000,3.274569,1.180000,0.580000,0.000000e+00,0.000000,1.000000
25%,24956.250000,50.000000,40.000000,20.000000,5.360000,157.310000,23.106000,130.000000,1.630000e+02,0.586630,5.000000
50%,49934.500000,75.000000,40.000000,30.000000,5.540000,579.750000,27.333333,1010.000000,1.507000e+03,1.329660,9.000000
75%,74890.750000,80.000000,60.000000,50.000000,5.955000,1110.780000,29.266667,8100.000000,1.440000e+04,2.997413,16.000000
max,99847.000000,180.000000,125.000000,200.000000,7.000000,3322.060000,35.346667,726300.000000,3.530571e+06,9801.000000,54.000000

In [236]:
data_set.isnull().sum()

Unnamed: 0            0
State_Name            0
Crop_Type             0
N                     0
P                     0
K                     0
pH                    0
rainfall              0
temperature           0
Area_in_hectares      0
Production_in_tons    0
Yield_ton_per_hec     0
Crop                  0
dtype: int64

In [237]:
data_set['Crop'].value_counts()

Crop
7     11430
4      9857
5      6855
10     6290
9      6225
12     5413
2      5369
16     5323
15     5164
8      3682
1      3157
21     3139
6      2995
17     2899
3      2784
20     2562
22     2408
11     2325
23     2253
24     2138
14     1154
18     1134
13     1058
27      732
25      571
33      330
36      284
30      282
35      281
26      237
29      217
34      146
37      125
39      117
44      105
32      104
42       90
41       73
31       72
40       67
47       59
28       58
38       58
46       45
50       31
45       28
48       25
52       19
51       18
54       18
49       12
43        6
53        2
Name: count, dtype: int64

In [238]:
data_set.rename(str.strip,
          axis='columns', 
          inplace=True)
 
data_set.columns

Index(['Unnamed: 0', 'State_Name', 'Crop_Type', 'N', 'P', 'K', 'pH',
       'rainfall', 'temperature', 'Area_in_hectares', 'Production_in_tons',
       'Yield_ton_per_hec', 'Crop'],
      dtype='object')

In [239]:
X = data_set.drop(columns=['State_Name','Crop_Type','Area_in_hectares','Production_in_tons','Crop'], axis = 1)
Y = data_set.Crop

In [240]:
print(X)

       Unnamed: 0    N   P   K    pH  rainfall  temperature  Yield_ton_per_hec
0               0  120  40  20  5.46    654.34    29.266667           1.287671
1               1   20  60  20  6.18    654.34    29.266667           0.303030
2               2   80  40  40  5.42    654.34    29.266667           1.009901
3               3   80  40  20  5.62    654.34    29.266667           1.750000
4               4   20  40  20  5.68    654.34    29.266667           0.384615
...           ...  ...  ..  ..   ...       ...          ...                ...
99821       99843   50  40  20  5.12    152.54    22.280000           0.611738
99822       99844   60  30  30  6.70    152.54    22.280000           2.559364
99823       99845   80  40  20  5.68    182.50    29.200000           1.515504
99824       99846   80  40  40  5.64    182.50    29.200000           2.676190
99825       99847   80  40  40  5.42    152.54    22.280000           1.712352

[99826 rows x 8 columns]

In [241]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, Y, test_size=0.2, random_state=42)

In [242]:
scaler = StandardScaler()  
# Standardizing the features
X_train = scaler.fit_transform(X_train)  
X_test = scaler.transform(X_test)

In [243]:
clf = MLPClassifier(hidden_layer_sizes=(64, 32), max_iter=1000,
                    random_state=42)

In [244]:
clf.fit(X_train, y_train)
# Making prediction
y_pred = clf.predict(X_test)

In [245]:
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.98